@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-family: Telugu;
  color: black;
  text-decoration: none;
}

.body {
  background-color: aliceblue;
  height: auto;
  background-size: auto;
  background-position: center;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
}
/* navbar */

.logo {
  padding: 10px;
}

.nav-area {
  float: right;
  list-style: none;
  margin: 20px;
  padding-right: 10px;
}

.nav-area li {
  display: inline-block;
  padding: 1px 30px;
  font-size: 19px;
}

/* showcase */

.showcase {
  position: absolute;
  width: 641px;
  height: 96px;
  left: 19px;
  top: 340px;
}

.showcase-text {
  font-family: "Tiro Bangla";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  padding: 1px;
  letter-spacing: 2px;
  word-spacing: 12px;
  align-items: center;
}

/* background */

.top6 {
  position: absolute;
  width: px;
  height: 350px;
  left: 29px;
  top: 0px;
}

.rigth10 {
  position: absolute;
  right: 0px;
  top: -110px;
}

.middle22 {
  position: absolute;
  width: 340.68px;
  height: 380.18px;
  left: 500.93px;
  top: 437px;
}

.middle7 {
  position: absolute;
  width: 324.13px;
  height: 318.18px;
  left: 592px;
  top: 140.23px;
}

/* About us */

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40;
  margin-bottom: 20px;
}

.about-story {
  background-color: rgba(219, 211, 211, 0.247);
  padding: 20px;
  border: 5px solid rgb(73, 69, 69);
}

.about-flex {
  display: flex;
  justify-content: space-around;
}

.about-image {
  max-width: 60%;
  min-width: 500px;
  padding: 20px;
}

.about-align {
  text-align: end;
}

.center {
  align-content: center;
  text-align: center;
}

/* Footer */
.footer {
  height: 100px;
  background: rgb(189, 185, 185);
  margin-top: 20px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.copyrights {
}

.social-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.icon {
  display: inline-block;
  font-size: 44px;
  animation: float 5s ease-in-out infinite;
}

.ri-feacebook-circle-line {
  animation-delay: 1s;
}

.ri-github-line {
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(O);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(O);
  }
}

/* contact us*/
/*.contact-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(182, 45, 45, 0.068);
}*/

.contact-container-2 {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 50%;
  height: 600px;
  background: url(background/1653427805888.jpg) no-repeat center / cover;
  border-radius: 8px;
}

.right {
  width: 50%;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  padding: 30px;
  border-radius: 8px;
  margin-left: -150px;
}

.right h2 {
  font-size: 40px;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-container-2 {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 80%;
    margin: 0;
    margin-top: -150px;
  }
}

/* Contact us form */

/*.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
}*/

form {
  max-width: 550px;
  width: 90%;
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  display:block;
  margin: 20px 0;
}

input,textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #eee;
}

input[type="text"]:focus, textarea:focus {
  border-bottom: 1px solid rgb(85, 83, 83);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(88, 87, 87);
}

.center {
  text-align: center;
}

input[type="submit"] {
  margin: 30px;
  width: 90%;
  max-width: 200px;
  background: linear-gradient(to right, rgb(165, 165, 165) );
  color: rgb(0, 0, 0);
  font-size: 17px;
  cursor:pointer;
  border-radius: 3px;
}

.error  {
color: red;

}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: green;
}